{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum placeat temporibus iusto, distinctio tempore, totam voluptates necessitatibus quia accusantium nulla ipsum, quae optio officiis. Cum totam earum veniam exercitationem nobis necessitatibus nihil nesciunt quia dignissimos, asperiores culpa velit saepe, qui dolores quaerat dolor, odit dicta. Error eligendi quaerat omnis nobis non cum obcaecati minus dolor beatae ipsa voluptas, dolorem sit modi? Sequi natus, atque fugiat soluta ab id nostrum doloribus magni, laborum corrupti eius voluptate illum? Officiis, eligendi rerum at doloremque quos soluta, molestiae aut magni fugiat eaque dolores corrupti pariatur repellendus recusandae dolorem necessitatibus harum aperiam. Assumenda, expedita esse!</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>
    

{% endblock %}